body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  color: #e0dcdc;
  text-decoration: none;
  padding: 12px 15px;
  margin-top: 0px;
  margin-left: 150px;
  margin-right: 50px;
  font-size: 32px;
  font-family: 'Montserrat';

}

header {
  background-color: #841212;

}

body {
  background-color: #0d0b0b;
}

.conteiner1{
  position: relative;
  width: 2000px;
  height: 1080px;
  left: 0px;
  right: 0px;
}

.foto{
  position: absolute;
  width: 2020px;
  height: 1100px;
  left: 0px;
  right: 0px;
}

.nazvanie {
  font-size: 64px;
  font-family: 'Montserrat';
  color:#e0dcdc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nazvanie1 {
  font-size: 18px;
  font-family: 'Montserrat';
  color:#e0dcdc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, +200%);
  
}

.foto2 {
  position: absolute;
  width: 972px;
  height: 900px;
  left: 1050px;
  top: 1227px;
}

.res {
  position: absolute;
  width: 346px;
  height: 78px;
  left: 272px;
  top: 1317px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  color: #FFFFFF;
  border: 2px solid #FFFDFD;
}

.rest {
  position: absolute;
  width: 561.98px;
  height: 274px;
  left: 167.9px;
  top: 1465px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  line-height: 50px;
}

.foto3{
  position: absolute;
  width: 376px;
  height: 308px;
  left: 0px;
  top: 2150px;
}



.mb-3 {
  width: 100%;
  height: 80px;
  outline: none;
  margin: 10px 0;
  transition: .2s;
  font-size: 14pt;
  padding-left: 10px;
  border-radius: 5px;
  font-family: 'Montserrat';

}

.mb-2 {
  width: 100%;
  height: 50px;
  outline: none;
  margin: 10px 0;
  transition: .2s;
  font-size: 14pt;
  padding-left: 10px;
  border-radius: 5px;
  font-family: 'Montserrat';;
  border: solid 1px black;
}

.form {
  width: 60%;
  margin: 0 auto;
  box-sizing: border-box;
  display: block;
}

.card {
  border-bottom: solid 2px black;
  padding: 20px 0;
  margin: 40px 0 30px;
  font-size: 20pt;
  text-align: center;
  font-family: 'Montserrat';
}




.button {
  background-color: #841212;
  border: #841212;
  color: #e0dcdc;
  text-decoration: none;
  padding: 12px 15px;
  margin-top: 0px;
  margin-left: 150px;
  margin-right: 50px;
  font-size: 32px;
  font-family: 'Montserrat';
}

.conteiner2 {
  position: relative;
}

.slider {
  text-align: center;
  margin-top: 50px;
  margin-left: 50px;
  width: 1600px;
}

.but {
  padding: 0;
  cursor: pointer;
  border: none;
  color: white;
  background-color: #333;
  width: 100%;
  height: 50px;
  font-size: 14pt;
  font-family: "Montserrat";
}